* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
    transition: 0.75s;
}

:root {
    --first-font-family: 'Poppins';
    --second-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --third-font-family: 'Monotype Corsiva';
    --forth-font-family: "Akronim", system-ui;
    --first-color: rgb(182, 181, 181);
    --second-color: #020223;
    --sixth-color: #02022378;
    --third-color: white;
    --forth-color: #037d95;
    --fifth-color: rgb(17, 17, 17);
    --nineth-color: #00b4d8;
    --tenth-color: #caf0f8;

    /* --sixth-color: #01778e; */
}

body {
    font-family: var(--first-font-family);
    background-color: var(--second-color);
    width: 100%;
    max-width: 100%;
    min-width: 320px;
}

nav {
    z-index: 99;
    font-family: var(--second-font-family);
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: var(--sixth-color);
    z-index: 1;
}

label.logo img {
    width: 4%;
    padding: 12px 100px;
}

label.logo h1 {
    display: none;
}

nav ul {
    float: right;
    margin-right: 550px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: var(--third-color);
    font-size: 18px;
    font-family: var(--first-font-family--);

    transition: 0.7s ease;
}

nav a:hover {
    color: var(--nineth-color);
}

nav a:active {
    color: var(--nineth-color);
}

label.link {
    float: right;
    padding: 10px 15px;
    margin-right: -780px;
    margin-top: 18px;
    border: 1px solid var(--third-color);
    border-radius: 6px;
    background-color: var(--forth-color);
}

label.link:hover {
    background-color: var(--forth-color);
    border: none;
    border-radius: 10px;
}

label a {
    color: var(--third-color);
    line-height: 20px;
}

label a:hover {
    color: var(--third-color);
}

label.link2 {
    display: none;
}

#icon {
    color: white;
    font-size: 30px;
    float: right;
    margin-right: -700px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--nineth-color);
}

section.sec-one {
    background-color: var(--second-color);
    width: 100%;
    height: 100vh;


}

div.bg-image {
    z-index: -1;
    background-image: url(./IMG/Background.jpg);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    background-color: var(--second-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
}

div.intro {
    color: var(--tenth-color);
    font-family: var(--forth-font-family);
    letter-spacing: 5px;
}

div.banner-text {
    position: relative;
    z-index: 0;
    margin-top: -400px;
    align-items: center;
}

div.intro h1 {
    font-size: 60px;
    text-align: center;
}

div.intro h3 {
    font-weight: 900;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: var(--first-font-family);
    letter-spacing: 4px;
}

div.banner img {
    padding-top: 150px;
}

section.sec-two {
    text-align: center;
    color: var(--third-color);
}

div.clients h3 {
    padding-top: 35px;
    color: var(--nineth-color);
    font-size: 25px;
    letter-spacing: 3px;
    font-family: var(--forth-font-family);
}

div.clients p {
    letter-spacing: 2px;
    color: var(--tenth-color);
    font-family: var(--second-font-family);

}

div.cgd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0rem;
}

div.clients-div {
    width: 230px;
    height: 80px;
    border: 1px solid var(--tenth-color);
    color: var(--third-color);
    font-family: var(--first-font-family);
    font-size: 15px;
    font-weight: 400;
    text-align: center;

}

div.avalon {
    display: flex;
    justify-content: center;
}

div.avalon img {
    padding-top: 18px;
}

div.avalon h3 {
    padding-top: 25px;
    font-weight: 400;
}

.logo9c {
    margin-top: -2.5rem;
}

.fc {
    margin-top: 18px;
}

.nexux {
    margin-top: 25px;
}

.rena {
    margin-top: 16px;
}

div.biography{
    display: flex;
    flex-wrap: wrap;
}

div.biography .span {
    width: 350px;
    height: 550px;
    margin-left: 95px;
    padding-top: 15px;
    border: 1px solid var(--tenth-color);
}

div.biography img {
    width: 90%;
    }