* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
    transition: 0.75s;
}

:root {
    --first-font-family: 'Poppins';
    --second-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --third-font-family: 'Monotype Corsiva';
    --first-color: rgb(182, 181, 181);
    --second-color: #020223;
    --sixth-color: #020223e0;
    --third-color: white;
    --forth-color: #037d95;
    --fifth-color: rgba(17, 17, 17, 0.986);
    --nineth-color: #00b4d8;
    --tenth-color: #caf0f8;

    /* --sixth-color: #01778e; */
}

body {
    font-family: var(--first-font-family);
    background-color: var(--second-color);
    width: 100%;
    max-width: 100%;
    min-width: 320px;
}

nav {
    font-family: var(--second-font-family);
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: var(--sixth-color);
    /* border-bottom: 1px solid white; */
    box-shadow: 14px -4px 10px var(--nineth-color);
}

label.logo img {
    /* position: fixed; */
    width: 4%;
    padding: 12px 100px;
}

label.logo h1 {
    display: none;
}

nav ul {
    float: right;
    margin-right: 550px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: var(--third-color);
    font-size: 18px;
    font-family: var(--first-font-family--);
}

nav a:hover {
    color: var(--nineth-color);
}

label.link {
    float: right;
    padding: 10px 15px;
    margin-right: -780px;
    margin-top: 18px;
    /* color: var(--second-color); */
    border: 1px solid var(--third-color);
    border-radius: 6px;
    background-color: var(--forth-color);
}

label.link:hover {
    background-color: var(--forth-color);
    border: none;
    border-radius: 10px;
}

label a {
    color: var(--third-color);
    line-height: 20px;
}

label a:hover {
    color: var(--third-color);
}

label.link2 {
    display: none;
}

#icon {
    color: white;
    font-size: 30px;
    float: right;
    margin-right: -700px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--nineth-color);
}

section.sec-one {
    /* padding: 200px 0px; */
    background-color: var(--second-color);
    width: 100%;
    height: 100vh;
    background-image: url(./IMG/image2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
    
}

div.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* gap: 220px; */
}

div.intro {
    color: var(--tenth-color);
    /* padding-top: 20px; */
    font-family: var(--third-font-family);
    letter-spacing: 5px;
}

div.intro .arror{
    margin-left: 50px;
}

img.shape{
    width: 30%;
    /* margin-left: 150px; */
}

div.intro h1{
    font-size: 32px;
}

div.intro p{

    font-family: var(--first-font-family);
    letter-spacing: 2px;
}

div.banner img{
    padding-top: 150px;
}

section.sec-two{
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: var(--third-color);
    /* box-shadow: 7px -4px 3px var(--nineth-color); */
}

div.clients h1{
    color: var(--nineth-color);
}

div.cgd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0rem;
}

div.clients-div{
    width: 240px;
    height: 80px;
    border: 1px solid var(--first-color);
    color: var(--third-color);
    font-family: var(--first-font-family);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}