@media screen and (max-width: 1184px) {
    nav ul {
        margin-right: 450px;
    }

    label.link {
        margin-right: -690px;
    }

    div.intro {
        text-align: left;
    }

    section.sec-two {
        padding-top: 100px;
    }
}

@media screen and (max-width: 1146px) {
    nav ul {
        margin-right: 450px;
    }

    label.link {
        margin-right: -700px;
    }

    div.intro {
        text-align: left;
    }

    .description-text{
        display: block;
        margin-top: -10px;
        padding-left: 60px;
    }

    .experience{
        padding: 20px 0px;
    }
}

@media screen and (max-width: 1068px) {
    div.intro {
        text-align: left;
    }

    div.biography h3 {
        margin-top: 40px;
        text-align: center;
        padding-bottom: 40px;
        font-size: 13px;
        letter-spacing: 7px;
        font-weight: 200;
    }

    .general-biography-text {
        text-align: center;
        padding-left: 10px;
    }

    .general-biography h4 {
        text-align: center;
        padding-left: 10px;

    }

    div.biography {
        justify-content: center;
    }
}

@media screen and (max-width: 1084px) {
    label.logo img {
        padding: 16px 80px;
    }

    nav ul {
        margin-right: 400px;
    }

    label.link {
        margin-right: -650px;
    }

    div.intro {
        text-align: left;
        padding-left: 35px;
    }

    div.intro h1 {
        font-size: 40px;
    }

    div.intro h3 {
        font-size: 14px;
        letter-spacing: 3px;
    }

    img.shape {
        width: 20%;
    }

    div.banner .set-up {
        width: 37%;
    }

    section.sec-two {
        padding-top: 80px;
    }

    div.clients h1 {
        font-size: 23px;
    }

    .general-biography-text{
        text-align: center;
        padding: 10px;
    }

    .general-biography h4{
        text-align: center;
        padding-left: 10px;
    }

    div.biography{
        justify-content: center;
    }

    div.biography h3 {
        margin-top: 35px;
        padding-bottom: 35px;
        letter-spacing: 7px;
    }

    .hire-me-span{
        justify-content: center;
        align-items: center;

    }

}

@media screen and (max-width: 1048px) {
    label.logo img {
        padding: 17px 50px;
    }

    nav ul {
        margin-right: 350px;
    }

    nav a {
        font-size: 16px;
    }

    label.link {
        margin-right: -650px;
    }
}

@media screen and (max-width: 1024px) {
    div.intro {
        text-align: left;
    }
}

@media screen and (max-width: 909px) {
    label.logo {
        display: flex;
        font-family: var(--third-font-family);
        /* gap: -20px; */
    }

    label.logo img {
        padding: 25px 10px;
        margin-left: 50px;
    }

    label.logo h1 {
        font-family: var(--forth-font-family);
        display: block;
        letter-spacing: 2px;
        padding-top: 35px;
        color: var(--nineth-color);
        /* padding-right: 20px; */
    }

    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 800px;
        margin-top: -59px;
        position: fixed;
    }

    #icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    #icon.active .bar:nth-child(3) {
        transform: translate(8px) rotate(45deg);
    }

    #icon.active .bar:nth-child(1) {
        transform: translate(-8px) rotate(-45deg);
    }

    nav ul {
        z-index: 99;
        padding-top: 7%;
        margin-top: -6px;
        float: right;
        left: -1000px;
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--forth-color);
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-image: url(./IMG//full-length-portrait-happy-cheerful-african-man-removebg-preview.png);
        background-blend-mode: color-dodge;
        transition: all .5s;
    }

    nav li {
        /* margin-top: 100px; */
        display: block;
        text-align: center;
        margin: 30px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
        /* color: var(--second-color); */
    }

    nav a:hover {
        color: var(--second-color);
    }

    label.link {
        display: none;
    }

    label.link2 {
        float: right;
        margin-right: 32%;
        display: block;
        border: 1px solid var(--third-color);
        border-radius: 6px;
        padding: 10px 20px;
    }

    label.link2:hover {
        border-color: var(--second-color);
    }

    nav ul.show {
        left: 0px;
    }

    div.intro {
        text-align: left;
    }

    div.banner-text {
        z-index: 0;
    }

    div.intro h1 {
        /* padding-top: -20px; */
        font-size: 35px;
        font-weight: 900;
    }

    div.intro h3 {
        font-size: 13px;
        font-weight: 100;
    }

    div.banner .set-up {
        width: 40%;
        padding-top: 180px;
    }

    div.biography h3 {
        letter-spacing: 6px;
    }
}

@media screen and (max-width: 847px) {
    div.biography h3 {
        letter-spacing: 5.5px;
    }
}

@media screen and (max-width: 830px) {
    nav #icon {
        margin-left: 750px;
    }

    div.banner .set-up {
        width: 45%;
        padding-top: 180px;
    }

    section.sec-two {
        margin-top: -50px
    }

    div.biography h3 {
        letter-spacing: 4px;
    }
}

@media screen and (max-width: 816px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 750px;
        margin-top: -74px;
        position: fixed;
    }

    div.biography h3 {
        letter-spacing: 3.7px;
    }
}

@media screen and (max-width: 768px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 680px;
        margin-top: -54px;
        position: fixed;
    }

    label.logo h1 {
        padding-top: 30px;
    }

    div.biography h3 {
        letter-spacing: 3.5px;
    }

    .description-text{
        display: flex;
        padding-left: 10px;
        padding-top: 25px;
    }
}

@media screen and (max-width: 717px) {
    div.biography h3 {
        letter-spacing: 3px;
    }

}

@media screen and (max-width: 700px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 620px;
        margin-top: -74px;
        position: fixed;
    }

    div.biography h3 {
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 678px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 600px;
        margin-top: -50px;
        position: fixed;
    }

    .logo h1 {
        margin-top: -7px;
    }

    nav ul {
        margin-top: 4px;
    }

    label.link2 {
        margin-right: 27%;
    }

    div.banner-text {
        padding-right: 25px;
        font-weight: 700;
    }

    div.intro h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 592px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 500px;
        margin-top: -58px;
        position: fixed;
    }

    label.logo img {
        padding: 25px 10px;
        margin-left: 50px;
        width: 5%;
    }

    label.logo h1 {
        padding-top: 30px;
        font-size: 23px;
    }

    label.link2 {
        margin-right: 25%;
    }

    .general-biography h4 {
        font-size: 25px;
    }

    .description-text{
        padding-left: 30px;
    }

    .description-text :nth-child(3){
        padding-left: 80px;
    }
}

@media screen and (max-width: 470px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 400px;
        margin-top: -56px;
        position: fixed;
    }

    label.logo img {
        padding: 25px 10px;
        margin-left: 40px;
        width: 6%;
    }

    label.link2 {
        margin-right: 20%;
    }



    img.shape {
        width: 30%;
    }

    div.intro h1 {
        font-size: 25px;
    }

    div.intro h3 {
        font-size: 12px;
    }

    div.biography .span{
        height: 330px;
    }

}

@media screen and (max-width: 440px) {
    nav #icon {
        margin-left: 360px;
        margin-top: -49px;
    }

    label.logo {
        margin-left: -10px;
    }

    label.logo h1 {
        margin-top: -3px;
        text-align: end;
    }

    label.link2 {
        margin-right: 15%;
    }

    .description-text{
        padding-left: 0px;
    }

    div.biography .span{
        height: 290px;
    }
}

@media screen and (max-width: 425px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 350px;
        margin-top: -49px;
        position: fixed;
    }

    label.logo img {
        padding: -29px 10px;
        margin-left: 40px;
        width: 7%;
    }

    label.logo h1 {
        padding-top: 33px;
        font-size: 23px;
    }

    label.link2 {
        margin-right: 15%;
    }

    label.link2 a {
        font-size: 20px;
    }

    div.biography .span{
        height: 290px;
    }
}

@media screen and (max-width: 400px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 330px;
        margin-top: -50px;
        position: fixed;
    }

    .logo {
        margin-left: -20px;
    }

    .logo h1 {
        margin-top: -7px;
        /* font-size: -10px; */
    }

    div.banner-text {
        margin-top: -350px;
    }

    .description-text{
        padding-left: 10px;
    }

    .description-text :nth-child(2){
        padding-left: 35px;
    }

    .description-text :nth-child(3){
        padding-left: 20px;
    }

    .experience p{
        padding-left: 10px;
    }

    .hire-me-span :nth-child(2){
        margin-left: 22px;
        margin-top: 20px;
    }

    div.biography .span{
        height: 260px;
    }
}

@media screen and (max-width: 375px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 300px;
        margin-top: -68px;
        position: fixed;
    }

    label.logo img {
        padding: 25px 10px;
        margin-left: 40px;
        width: 8%;
    }

    label.logo h1 {
        padding-top: 33px;
        font-size: 20px;
    }

    .nav-links {
        font-size: 15px;
    }

    label.link2 {
        margin-right: 15%;
    }

    label.link2 a {
        font-size: 15px;
    }

    div.biography .span{
        height: 230px;
    }
}

@media screen and (max-width: 370px) {
    label.logo img {
        margin-left: 10px;
    }

    nav #icon {
        margin-top: -50px;
    }

    div.intro h1 {
        font-size: 30px;
        margin-left: -4px;
    }

    div.intro h3 {
        font-size: 15px;
        margin-left: -5px;
    }

    div.biography .span{
        height: 220px;
    }
}

@media screen and (max-width: 350px) {
    nav #icon {
        margin-top: -50px;
    }

    .description-text{
        padding-left: 0px;
    }

    .experience p :nth-child(1){
        padding-left: -20px;
    }

    div.biography .span{
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    nav #icon {
        display: block;
        /* float: left; */
        margin-left: 270px;
        margin-top: -50px;
        position: fixed;
    }

    label.logo img {
        padding: 25px 5px;
        margin-left: 20px;
        width: 9%;
    }

    .nav-links {
        font-size: 15px;
    }

    label.link2 {
        margin-right: 10%;
    }

    label.link2 a {
        font-size: 15px;
    }

    div.intro h1 {
        text-align: center;
        padding-bottom: 10px;
        margin-left: -20px;
    }

    div.intro h3 {
        text-align: center;
        margin-left: -20px;
    }

    div.intro .bowl {
        /* align-items: center; */
        margin-top: -40px;
        margin-left: -20px;
        /* display: none; */
    }

    div.bowl .shape {
        /* display: none; */
        margin-left: 140px;
    }

    .description-text{
        margin-left: -20px;
    }

    .experience p{
        margin-left: -2px;
    }

    .experience p :nth-child(1){
        margin-left: -10px;
    }

    div.biography .span{
        height: 170px;
    }
}