* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
    transition: 0.75s;
}

:root{
    --second-color: #020223;
}

body {
    font-family: var(--first-font-family);
    background-color: var(--second-color);
    width: 100%;
    max-width: 100%;
    min-width: 320px;
}

.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
}

.cv img{
    width: 100%;
}